body {
    background-color: brown;
}
h2 {
    text-align: center;
    font-size: 50px;
}

/* C'est quoi un breakpoin : point de rupture se réffère à la taille imposée par la fenêtre du rendu du navigateur qui fera varier proportionellement le rendu visuelle du site web affiché */

/* 
    Le Media Query est une technique visant à modifier le design d'un site internet en fonction des caractéristiques de l'écran utilisé. C'est un élément important du CSS3. Pour ce faire, on utilise les requêtes multimédias. Une requête multimédia permet d'appliquer des styles CSS en fonction de la présence ou de la valeur des caractéristiques de l'appareil. Les requêtes média peuvent être appliquées de deux manières, notamment :

    En chargeant une feuille de style CSS différente (cependant, cela n'est pas recommandé car il est préférable de centraliser le style CSS autour d'une seule feuille de style) :

    <link rel="stylesheet" href="style.css" /> <!-- Pour tout le monde -->
    <link rel="stylesheet" media="screen and (max-width: 1280px)" href="petite_resolution.css" /> <!-- Pour ceux qui ont une résolution inférieure à 1280px -->
    En écrivant directement les règles dans la feuille de style CSS :
    Cette technique consiste à utiliser ce qu'on appelle les règles CSS @ : les @rules (prononcées "at-rules") fournissent des instructions sur ce que CSS doit effectuer ou comment il doit se comporter si une condition est satisfaite.

    Ici, on utilise la @media : la règle pour inclure un bloc de propriétés CSS uniquement si une certaine condition est vraie. Les conditions comprennent :

    -> Les types d'écran ou les supports d'affichage, il existe quatre catégories de media types :
              print : destiné à un support paginé, aux documents vus sur écran en mode aperçu avant impression;
              screen : pour les appareils dotés d'un écran : ordinateurs, tablettes, mobiles, TV
              speech : pour les lecteurs d'écran qui “lisent” par synthèse vocale
              all : tous les types d'appareils
    -> Les propriétés, comme par exemple la largeur de la zone d'affichage, la hauteur de la zone d'affichage, ou l'orientation du périphérique. */

    @media(min-width:1400px){
        body {
            background-color: pink;
        }
        .xSmall, .Small, .Medium, .Large, .xLarge{
            display: none;
        }
        /* ordinateurs large */
    }
    @media(min-width:1200px) and (max-width:1399.99px){

        body {background-color: teal;}

        .xSmall, .Small, .Medium, .Large, .xxLarge {
            display:none;
        }
        /* tablettes medium */
    }
    @media(min-width:992px) and (max-width:1199.99px){
        body {background-color: khaki;}

        .xSmall, .Small, .Medium, .xLarge, .xxLarge {
            display: none;
        }
        /* petit appareils (telephones) */
    }
    @media(min-width:768px) and (max-width:991.99px){
        body {background-color:purple;}

        .xSmall, .Small, .Large, .xLarge, .xxLarge {
            display: none;
        }
    }
    @media(min-width:576px) and (max-width:767.99px){
        body {background-color:orange;}

        .xSmall, .Medium, .Large, .xLarge, .xxLarge {
            display: none;
        }
    }
    @media(max-width:576px){
        body {background-color:green;}

        .Small, .Medium, .Large, .xLarge, .xxLarge {
            display: none;
        }
    }
    /* ************************************************************************************************************************** */

    /* sur les écrans et quand la largeur de la fenêtre est au max 1280px */

    @media screen and (max-width:1280px) {
        
    }
    /* en mode impression */
    @media print {
        
    }
    /* sur tout types d'ecran orienté verticalement */
    @media all and (orientation:portrait) {
        
    }
    /* sur tout types d'écrans orienté horizontalement */

    @media all and (orientation:landscape) {
        
    }
    
