/* Feuille de style pour la page: balises de mise en page */
body {
    background-color: #EEEDEB;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #3c0753;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}


header {
    border: #3c0753 solid 2px;
    padding: 8px;
    border-radius: 8px;
    
}

header.hautdepage a {
    background-color: #d9a9db;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 33%;
    padding: 5px 0px;
    text-align: center;
    border-radius: 10px;
}

.hautdepage a:hover {
    background-color: #3c0753;
    color: aquamarine;
}

article.main {
    border: solid 2px #3c0753;
    padding: 20px 50px;
    margin-top: 10px;
    border: solid 2px #3c0753;
    text-align: center;
    border-radius: 8px;
}

div.section1, div.section2{
    text-align: center;
}

div.section1 img {
    border-radius: 20px;
}

div.section2 {
    background-image: url(../img/ligne_de_code.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

div.section2 p {
    display: inline-block;
    border: solid 2px blue;
    width: 33%;
    padding: 20px;
    background-color: black;
    text-align: left;
}

footer.piedepage {
    border: solid 2px #3c0753;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}


footer.piedepage ul{
    display: inline-block;
    width: 20%;
    list-style: none;

}

footer.piedepage ul li{
    margin-bottom: 20px;

}

footer.piedepage ul li a{
    color: #3c0753;
    background-color: pink;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

footer.piedepage ul li a:hover{
    background-color: #3c0753;
    color: aquamarine;
}