*{
    box-sizing: border-box;
    text-decoration: none;
}

nav#exo1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #CBD285;
    padding: 10px;
}

nav a {
    color: black;
    font-weight: bold;
}


body {
    height: auto;
    margin: 100px;
}


/****************************** Exercice 2 *********************************/

section {
    width: 50%;
    margin: 100px auto;
}

#zoning1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffd6d6;
    text-align: center;
}

h3 {
    width: 100%;
}
#zoning1 header {
    background-color: #f7f39a;
    width: 100%;
}

#zoning1 aside, #zoning1 section {
    height: 500px;
    line-height: 500px;
}
#zoning1 aside {
    background-color: #10828c;
    width: 20%;
}


#zoning1 section {
    background-color: #A0B08B;
    width: 80%;
    margin: 0px;
}

/****************************** Exercice 3 *********************************/

#zoning2 {
    background-color: #ffd6d6;
    text-align: center;
}

#zoning2 header {
    background-color: teal;
    height: 70px;
    line-height: 70px;
}

#zoning2 div {
    display: flex;

}

#zoning2 aside {
    background-color: orangered;
    height: 500px;
    line-height: 500px;
    width: 20%;
}

#zoning2 div div {
    height: 500px;
    line-height: 500px;
    width: 60%;
    text-align: center;
}

#zoning2 div div p {
    width: 100%;
}

#zoning2 > div :first-child {
    order: 1;
}

#zoning2 > div :nth-child(2) {
    order: 3;
}

#zoning2 > div :last-child {
    order: 2;
}