*{
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #FFE7E7;
}

table {
    border: 3px solid #6E2142;    
    border-collapse: collapse;
    background-color: #fff;
}

/* tr {
    display: flex;
    justify-content: center;
    background-color: #fff;
} 

*/

caption {
    color: #6E2142;
}

tr, td {
    border: solid 1px;
    text-align: center;
}

.colspan1 {
    background-color: beige;
}